@font-face {
   font-family: 'AktivGroteskCorp-Italic';
   font-display: swap;
   src: url('file:///Users/h/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-11-19_115948/fonts/AktivGroteskCorp-Italic/font.ttf');
}
