@font-face {
   font-family: 'BebasNeuePro-BoldItalic';
   font-display: swap;
   src: url('file:///Users/h/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-11-19_115948/fonts/BebasNeuePro-BoldItalic/font.ttf');
}
