/*--- FONTS ---*/
@font-face {
  font-family: 'Bebas Neue Pro';
  font-style: normal;
  font-weight: bold;
  src: url('../public/fonts/BebasNeuePro-BoldItalic/BebasNeuePro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/AktivGroteskCorp-Italic/font.ttf') format('truetype');
}

/* --- VARIABLES --- */

:root {
  --green: #c9f812;
  --black: #1a1a1a;
  --white: #ffffff;
  --charcoal: #464a5e;
 }

 ::-webkit-scrollbar {
  display: none;
}
 
 /* --- RESETS --- */
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 html,
 body,
 #root {
   height: 100%;
   overflow-x: hidden;
   font-family: 'Bebas Neue Pro', sans-serif;
   background-color: #000000; 
   color: var(--white);
 }

/* START */

.start_container {
  position: relative;
  background-image: url('../public/images/bg-1.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center left 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.start_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.start_logo {
  position: absolute;
  top: 25%; /* These to change on wider screens */
  width: 65%;
  z-index: 1; 
}

.start_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  margin-top: 50%; /* These to change on wider screens */
}

.start_button_inner {
  padding: 25px 45px;
  font-size: 35px;
  font-family: 'Bebas Neue Pro';
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 15px; 
  background-color: transparent;
  cursor: pointer;
  transition: border-width 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.start_button_inner:active {
  border-width: 50px; /* Expand the border width on click */
  opacity: 0; /* Fade out the border on click */
  color: var(--green);
}

/* .start_button_inner:hover {
  color: var(--white);
} */